body {
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}

.tripscontainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.trips {
    margin-top: 10px;
    height: 100%;
    border-radius: 15px;
    padding:30px;
    padding-bottom:50px;
    padding-top:50px;
    opacity: 1;
    transition: all linear 0.5s;
}

.trips:hover {
    box-shadow: 0 0 10px #0000FF;
}

.trips.ng-enter {
    opacity: 0;
}

.trips:nth-child(even) {
    background: #CCC
}
.trips:nth-child(odd) {
    background: #FFF
}

.github-fork-ribbon.right-bottom:before {
    background-color: #05F;
}

.loader {
    border-radius: 15px;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFF;
    transition: all linear 0.5s;
}

/*.loader.ng-leave {
    opacity: 0;
}*/

.loader > img {
    margin: auto;
    display: block;
    max-width: 400px;
}

.hometrip {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.innertrip {
    border-radius: 25px;
    padding: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 300px;
    transition: all linear 0.3s;
}

.innertrip:hover {
    box-shadow: 0 0 20px #0000FF;
}

.tripcontent {
    border-radius: 15px;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    padding: 10px;
}

.uib-datepicker-popup.dropdown-menu {
    left: auto !important;
}

.uib-datepicker-popup.dropdown-menu .btn-info {
    font-weight: bold;
}
.uib-datepicker-popup.dropdown-menu .btn:enabled:not(.uib-left):not(.uib-title):not(.uib-right)  {
    background-color: #55AAFFFF;
    font-weight: bold;
}

/*.vcenter {
    display: flex;
    align-items: center;
}*/